<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <button (click)="routeBack()">
        <ion-icon name="caret-back-outline"></ion-icon>
        Geri
      </button>
      <ion-title>Randevu Al</ion-title>
    </ion-toolbar>
  </ion-header>
  <div style="padding: 1rem;">
    <ion-list style="opacity: 0.75;">
      <ion-item>
        <ion-label position="floating" style="color: #fff;">İsim</ion-label>
        <ion-input [(ngModel)]="patientName" placeholder="İsim" style="color: #fff;"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" style="color: #fff;">Soyisim</ion-label>
        <ion-input [(ngModel)]="patientLastName" placeholder="Soyisim" style="color: #fff;"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" style="color: #fff;">Doktor İsim</ion-label>
        <ion-input [(ngModel)]="doctorFirstname" placeholder="İsim" style="color: #fff;"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" style="color: #fff;">Doktor Soyisim</ion-label>
        <ion-input [(ngModel)]="doctorLastname" placeholder="Soyisim" style="color: #fff;"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" style="color: #fff;">Şikayetiniz</ion-label>
        <ion-textarea [(ngModel)]="symptoms" placeholder="Şikayetinizi kısaca anlatınız" style="color: #fff;"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label style="color: #fff;">Tarih ve Saat</ion-label>
        <ion-datetime display-format="MM/DD/YYYY HH:mm" [(ngModel)]="selectedDate" style="color: #fff;"></ion-datetime>
      </ion-item>

    </ion-list>
    <ion-footer style="padding-top: 1rem; text-align: end;">
      <ion-button (click)="submitForm()" color="primary">Randevu oluştur</ion-button>
    </ion-footer>
  </div>
</ion-content>
